*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    color:#242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
    float: none;
}
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 0;
}
.nav{
    background-color: #ffffff;
    padding: 20px 0;
}

.logo{
    width: 30%;
    float: left;
}
.top-links{
    width: 30%;
    float: right;
    margin-top: 20px;
}
.top-links li{
    float: right;
    list-style: none;
    margin-left: 15px;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 20px;
}
.menu .last-item{
    float: right;
    margin-right: 0;
}
.main{
    padding-top: 30px;
}
.aside{
    float: left;
    width: 33.33%;
    padding-left: 15px;
}
.content{
    float: left;
    width: 66.67%;
    padding-right: 15px;
}
.content-body{
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
}
.block {
    float: left;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.b1{
    margin-top: 10px;
}
a{
    color: #242424;
    text-decoration: none;
}
h2{
    font-size: 30px;
}
.van1{
    text-align: justify;
    width: 650px;
    font-size: 17px;
}
.van2{
    text-align: justify;
    width: 650px;
    font-size: 17px;
}
.subcribe{
    background-color: black;
    width: 310px;
}
h3{
    color: white;
}
.chu{
    color: white;
    text-align: justify;
    width: 250px;
}
.b2{
    height: 40px;
    width: 250px;
}
input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
.b3{
    width: 250px;
    height: 40px;
    background-color: red;
    margin-top: 18px;
    list-style: none;
}
.b3:hover {
    transform: scale(1.1);
}
.sub{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.block{
    width: 310px;
}
.icon{
    background-color: #dfe5e9;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.icon:hover{
    transform: scale(1.1);
}
li:hover{
    transform: scale(1.1);
    color: red;
}
h1:hover{
    transform: scale(1.1);
    color: red;
}
a:hover{
    transform: scale(1.1);
    color: red;
}
