body{
    background-color: #333333;
    margin: 0px auto;
}
#nenn1{
    background-color: #e5e5e5;
    width: 800px;
    height: 700px;
    margin: auto;
    float: none;
    padding-top: 40px;
}
#nenn2{
    background-color: white;
    width: 600px;
    height: 600px;
    float: none;
    margin: auto;
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 20px;
}
.aa1{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 20px;
}
.aa2{
    width: 550px;
    margin-left: 20px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #b8c1ca;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.aa3{
    float: left;
    height: 40px;
    width: 250px;
    background-color: #b8c1ca;
    margin-top: 30px;
    margin-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.aa4{
   float: right;
    height: 40px;
    width: 250px;
    background-color: #b8c1ca;
    margin-top: 30px;
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.s1{
    margin-top: 5px;
    float: right;
    margin-right: 200px;
}
.aa5{
    width: 550px;
    margin-left: 20px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #b8c1ca;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.aa6{
    width: 550px;
    margin-left: 20px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #b8c1ca;
    font-size: 20px;
    margin-top: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.form:aa2{
    outline: none;
    box-shadow: 0 0 3px darkorchid;
}
.s2{
    margin-left: 50px;
    margin-top: 5px;
}
.s3{
    margin-left: 20px;
    float: left;
    margin-top: 15px;
}
.s4{
    float: right;
    margin-top: 15px;
    margin-right: 120px;
}
.aa7{
    margin-top: 30px;
    margin-left: 0px;
}
.aa8 {
    margin-top: 30px;
    margin-left: 0px;
}
