*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0000A4;
}
ul{
    margin-left: -50px;
}
ul li{
    float: left;
    width: 100px;
    list-style: none;
    color: white;
}
.menu{
    margin: auto;
    float: none;
    font-size: 16px;
    font-family: Verdana;
    margin-top: 30px;
    margin-left: 400px;
}
.container{
    padding-top: 30px;
    margin-left: 200px;
    text-align: center;
}
.col-md-9{
    text-align: center;
}
.col-md-9 img{
    border: 10px solid #ffffff;
}
 .container .col-md-8{
    width: 670px;
    height: 700px;
    background-color: #ffffff;
     margin-left: 90px;
 }
 .font{
     font-size: 16px;
     margin-top: 40px;
     float: left;
     font-family: Verdana;
 }
.anh{
    margin-top: 70px;
    float: left;
    margin-left: -170px;
}
.chu{
    width: 400px;
    float: right;
    text-align: justify;
    font-family: Verdana;
    font-size: 13px;
    margin-top: 70px;
}
.font1{
    margin-top: 30px;
    font-size: 16px;
    float: left;
}
.chu1{
    width: 400px;
    float: left;
    text-align: justify;
    font-family: Verdana;
    font-size: 13px;
    margin-top: 70px;
    margin-left: -210px;
}
.anh1{
    margin-top: 70px;
    float: right;
    margin-left: -170px;
}
.font2{
    font-size: 16px;
    margin-top: 40px;
    float: left;
    margin-left: -400px;
    font-family: Verdana;
    margin-top: 250px;
}
.chu2{
    width: 400px;
    float: right;
    text-align: justify;
    font-family: Verdana;
    font-size: 13px;
    margin-top: 70px;
}
.anh2{
    margin-top: 70px;
    float: left;
    margin-left: -170px;
    margin-top: 300px;
    margin-left: -400px;
}
.footer1{
    margin-top: -30px;
    margin-left: -290px;
}
