*{
    box-sizing: border-box;
}
.container{
    width: 78%;
    margin: 0 auto;
    float: none;
}
.logo{
    height: 200px;
    color: black;
}
.header_1{
    height: 65px;
    position: relative;
    top: -100px;
    color: #f2f2f2;
    padding-top: -10px;
    font-size: 2.8px;
    margin-left: -30px;
}
.top-links{
    width: 70%;
    float: right;
    font-size: 4px;
    margin-top: -2px;
    margin-right: -30px;
}
.top-links li{
    list-style: none;
    float: right;
    margin-left: 5px;
    color: #f2f2f2;
}
.top-links ul li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 3.5px;
}
.top-links li:hover{
    transform: scale(1.1);
}
.top-links ul li a:hover{
    color: #2aabd2;
}
.border {
    border-bottom: 0.2px solid #464E56;
    position: relative;
    top: -93px;
}
.header_2{
    height: 40px;
    position: relative;
    top: -158px;
    margin-left: -30px;

}
.link_logo {
    width: 30px;
    height: 40px;
    float: left;
}
.top-links2 li a{
    float: right;
    text-decoration: none;
    font-size: 3px;
    color: #f2f2f2;
}
.top-links2 li{
    list-style: none;
}
.top-links2{
    float: right;
    width: 100%;
    margin-top: -190px;
    margin-left: 20px;
}
.top-links2 ul li a:hover{
    color: #2aabd2;
}
.c{
    width: 25px;
    height: 8px;
    background-color: #2aabd2;
    margin-left: 205px;
    margin-top: -12px;
}
.d{
    font-size: 3px;
    color: white;
    float: right;
    margin-top: -6px;
    margin-right: -29px;
    text-decoration: none;
}
.d:hover{
    transform: scale(1.1);
}
.header_3{
    color: white;
    position: relative;
    margin-top: -165px;
    text-align: center;
}
.header_4{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 3px;
    margin-left: -5px;
    color: #F1F1F1;
}
.header_4 a{
    color: #F1F1F1;
}
.nav1{
    margin-top: -245px;
    font-size: 3px;
    float: left;
    margin-left: -40px;
}
.nav1 li{
    list-style: none;
    float: left;
    position: relative;
}
.nav1_2{
    margin-left: 83px;
    margin-top: -10px;
}
.nav1_2 select{
    background-color: #f5f5f5;
    border: none;
    border-radius: 3%;
    width: 40px;
    height: 10px;
    opacity: 0.5;
}
.nav1_1{
    margin-top: -3px;
    margin-left: 5px;
}
.nav1_1 select{
   background-color: #f5f5f5;
    border: none;
    border-radius: 3%;
    width: 30px;
    height: 10px;
    opacity: 0.5;
}
.nav1_3{
    margin-top: -10px;
    margin-left: 125px;
}
.nav1_3 select{
    background-color: #f5f5f5;
    border: none;
    border-radius: 3%;
    width: 40px;
    height: 10px;
    opacity: 0.5;
    font-optical-sizing: 3px;
}
.item-body{
    margin-top: -225px;
    background-color: #ffffff;

    float: left;
    margin-left: -50px;
}
.item-body2{
    margin-top: -227px;
    background-color: #ffffff;
    float: right;
    margin-right: -50px;
}
.item-body1{
    margin-top: -226px;
    background-color: #ffffff;
    float: right;
    margin-right: 33px;
}
.z1{
    font-size: 4px;
    margin-top: 5px;
}
.z2{
    border-bottom: 0.2px solid #464E56;
    margin-top: 3px;
}
.z3{
    font-size: 2.7px;
    width: 70px;
    text-align: justify;
    margin-top: 3px;
}
.z4_1{
    font-size: 4px;
    width: 70px;
    height: 10px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #F1F1F1;
}
.z4{
   margin-top: -13px;
}
.item-body:hover .z4_1{
    color: white;
    background-color: #30A8D5;
}
.item-body1:hover .z4_1{
    color: white;
    background-color: #30A8D5;
}
.item-body2:hover .z4_1{
    color: white;
    background-color: #30A8D5;
}
.item-body3{
    margin-top: -125px;
    background-color: #ffffff;
    float: right;
    margin-right: -65px;
}
.item-body4{
    margin-top: -125px;
    background-color: #ffffff;
    float: right;
    margin-right: 3px;
}
.item-body5{
    margin-top: -125px;
    background-color: #ffffff;
    float: left;
    margin-left: -95px;
}
.item-body3:hover .z4_1{
    color: white;
    background-color: #30A8D5;
}
.item-body4:hover .z4_1{
    color: white;
    background-color: #30A8D5;
}
.item-body5:hover .z4_1{
    color: white;
    background-color: #30A8D5;
}
.z5{
    text-align: center;
    font-size: 3px;
    margin-top: -22px;
}
.z5_1{
    color: black;
    cursor: pointer;
    font-size: 3px;
    padding: 2px 3.5px;
    background-color: white;
    border: 0.1px solid black;
}
.z5_2{
    color: black;
    cursor: pointer;
    font-size: 3px;
    padding: 2px 3.5px;
    background-color: white;
    border: 0.1px solid black;
}
.z5_3{
    color: black;
    cursor: pointer;
    font-size: 3px;
    padding: 2px 3.5px;
    background-color: white;
    border: 0.1px solid black;
}
.z5_1:hover{
    background-color: #e2b71c;
    color: white;
}
.z5_2:hover{
    background-color: #e2b71c;
    color: white;
}
.z5_3:hover{
    background-color: #e2b71c;
    color: white;
}
#z6{
    background-color: black;
    width: 100%;
    height: 108px;
    margin-top: 5px;
    float: left;
}
.z7{
    border-bottom: 0.2px solid white ;
    margin-top: 73px;
    width: 151%;
    margin-left: -43px;
}
.z8{
    font-size: 3px;
    color: #e7e7e7;
    text-align: center;
    margin-top: 5px;
}
.z9{
    font-size: 4.5px;
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: -20px;
}
.z10{
    float: right;
    font-size: 3px;
    color: #999;
    margin-right: -49px;
    margin-top: 3px;
}
.z11{
    font-size: 3px;
    float: right;
    color: #999;
    margin-top: 10px;
    margin-right: -34px;
}
.z11 a{
    color: #999;
}
.z12{
    float: right;
    font-size: 3px;
    color: #999;
    margin-top: 17px;
    margin-right: -44px;
}
.z12 a{
    color: #999;
}
.z12 b{
    font-size: 4px;
}
.z13{
    border-bottom: 0.2px solid white ;
    margin-top: 30px;
    width: 37%;
    float: right;
    margin-right: -50px;
}
.top-links1{
    width: 70%;
    float: right;
    font-size: 4px;
    margin-top: 38px;
    margin-right: -37px;
}
.top-links1 li{
    list-style: none;
    float: right;
    margin-left: 5px;
    color: #f2f2f2;
}
.top-links1 ul li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 3.5px;
}
.top-links1 li:hover{
    transform: scale(1.1);
}
.top-links1 ul li a:hover{
    color: #e2b71c;
}
.z14{
    color: #999;
    cursor: pointer;
    font-size: 3px;
    background-color: black;
    border: 0.1px solid #999;
    height: 10px;
}
.z15{
    margin-right: -5px;
    float: right;
}
.z15:hover .z14{
    color: #2aabd2;
    background-color: #efefef;
}
.z16{
    float: left;
    margin-top: -58px;
}
.z17{
    color: white;
}
.z18{
    margin-top: -5px;
    cursor: pointer;
    font-size: 3px;
}
.z18 a{
    color: #999;
    text-decoration: none;
}
.z18 i{
    color: #999;
}
.z18:hover i{
    color: #e2b71c;
}
.z19{
    margin-top: -8px;
    cursor: pointer;
    font-size: 3px;
}
.z19 a{
    color: #999;
    text-decoration: none;
}
.z19 i{
    color: #999;
}
.z19:hover i{
    color: #e2b71c;
}
.z21{
    color: white;
    float: left;
    margin-left: -80px;
    margin-top: -58px;
}
.z22{
    margin-top: -48px;
    cursor: pointer;
    font-size: 3px;
    margin-left: -53px;

}
.z22 a{
    color: #999;
    text-decoration: none;
}
.z22 i{
    color: #999;
}
.z22:hover i {
    color: #e2b71c;
}
.z23{
    margin-top: -8px;
    cursor: pointer;
    font-size: 3px;
    margin-left: -53px;
}
.z23 a{
    color: #999;
    text-decoration: none;
}
.z23 i{
    color: #999;
}
.z23:hover i{
    color: #e2b71c;
}
.z24{
    margin-top: -8px;
    cursor: pointer;
    font-size: 3px;
    float: left;
    margin-left: -79.5px;
}
.z24 a{
    color: #999;
    text-decoration: none;
}
.z24 i{
    color: #999;
}
.z24:hover i{
    color: #e2b71c;
}
.z25{
    float: left;
    margin-left: -145px;
    margin-top: -65px;
    font-size: 2.8px;
    width: 50px;
    color: #999;
    text-align: justify;
}
.z26{
    margin-top: 8px;
}
.z27{
    border-bottom: 0.2px solid white ;
    margin-top: -2px;
    width: 100%;
    float: left;
}
.z28{
    font-size: 4px;
    color: white;
}
.z29{
    margin-top: -5px;
}
input{
    width: 100%;
}