body{
    max-width: 300;
    width: 550px;
    margin-left: 450px;
}
p{
    text-align: justify;
}
span{
    text-align: center;
}
ul{
    margin-left: 15px;
    padding-left: 0px;
}
ul b {
    margin-left: -16px;
}
br{
    padding-top: 30px;
}